<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nightq.testapp">

    <!--LinkedME SDK 需要开启的权限-->  <!--LinkedME SDK 需要开启的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MiddleActivity"
            android:label="MiddleActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.FullScreen.Trans">
            <meta-data
                android:name="linkedme.sdk.auto_link_keys"
                android:value="linkedme" />
        </activity>

        <!-- LinkedME官网注册应用后,从"设置"页面获取该Key -->
        <meta-data
            android:name="linkedme.sdk.key"
            android:value="a638be1770105ae231ebdb24c2ba5d1b" />


        <activity
            android:name=".StartActivity"
            android:label="StartActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="HomeActivity"
            android:launchMode="singleTask" >

        <!--<activity-->
            <!--android:name=".DeepLinkEnterActivity"-->
            <!--android:label="DeepLinkEnterActivity"-->
            <!--android:launchMode="singleTask">-->

            <!-- URI Scheme方式 在dashboard配置中,请保持与ios的URI Scheme相同 -->
            <!--
            如果程序已存在与此完全相同的data配置,即只包含scheme并且值完全相同,
            则需要考虑发起的intent会出现相同应用图标的选择对话框的情况
            参考集成文档:https://www.linkedme.cc/docs/page4.html#link1
            -->
            <intent-filter>
                <!-- 此处scheme值需要替换为后台设置中的scheme值 -->
                <!-- host禁止更改！！！ -->
                <!-- 禁止配置其他属性 -->
                <data
                    android:host="linkedme"
                    android:scheme="testapp" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>


            <!-- URI Scheme方式 在dashboard配置中,请保持与ios的URI Scheme相同 -->
            <intent-filter>
                <!-- 此处scheme值需要替换为后台设置中的scheme值 -->
                <!-- 可在后台“设置”->“链接”中查看Android下的URI Scheme的值 -->
                <data
                    android:host="linkedme"
                    android:scheme="testapp" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- APP Links方式,Android 23版本及以后支持 -->
            <!-- 可在后台“设置”->“概览”中查看LinkedME App ID的值 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 以下pathPrefix值需要替换为后台设置中 App ID 的值,注意包含“/”-->
                <data
                    android:host="lkme.cc"
                    android:pathPrefix="/D5D"
                    android:scheme="https" />
                <data
                    android:host="lkme.cc"
                    android:pathPrefix="/D5D"
                    android:scheme="http" />
            </intent-filter>

        </activity>
    </application>

</manifest>